<div class="footer-wrapper">

    <footer id="footer" class="footer border-t-2 border-black">

        <div class="footer-inner inner m-auto md:flex justify-between items-center px-6 py-10">

            <p class="text-grey-900 pb-0">© 2020 Scott Abromowitz</p>

        </div>

    </footer>

</div>
