<nav id="nav" class="nav visible md:flex">

    <ul class="menu flex flex-row md:items-center list-reset text-base">

        {% for item in navigation.main %}

        <li class="level-1 mb-4 mr-4 md:mb-0">

            <a href="{{ item.url | safe }}" class="link font-normal text-blue-700 hover:text-blue-900 active:text-blue-700 {% if page.url == item.url %}active text-blue-700{% endif %}
            "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

        </li>

        {% endfor %}

    </ul>

</nav>
