
//==========  Links ==========//

a {
    @apply text-blue-700 no-underline;

    &:not([class]) {
        border-bottom-width: 1px;
        border-color: #2B6CB0;

        &:hover {
            @apply text-blue-900;
            border-bottom-width: 1px;
            border-color: #2A4365;
        }
    }
}


