---
layout: default
meta_title: About
meta_description: About page
body_class: about
title: About
featured_image: /images/about/sa-2019.png

---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">
        <img data-lazy="/images/about/sa-2019.png" class="object-scale-down h-64 w-full mb-6 loaded" src="/images/about/sa-2019.png" alt="Scott Abromowitz">
        <header>
            <h1 class="page-title">Bio</h1>
        </header>
        <div class="content">
           <p>TL;DR: Senior Product Designer at American Airlines. MS in HCI from UMD and BA in Poli Sci from UW-Madison.</p>
           
            <p> I have been captivated by computers since I was a child. Today I work as a Senior Product Designer at American Airlines. Previously I consulted for a myriad of companies and industries including a multinational camera manufacturer and a top software services company. I love to daydream about the technology of tomorrow. You might say watching Minority Report and anime as a kid greatly influenced my concept of a GUI. Of course, many of these pretty and so-called natural user interfaces are not necessarily user-friendly. Subsequently, one of the main reasons I went to graduate school was to combine my social science background and love of technology to create user-centered user experiences. I utilize quantitative and qualitative user research methods to help influence and support design decisions.</p>
           
            <p> I have a master’s degree in Human-Computer Interaction from the University of Maryland and a bachelor’s degree in Political Science from the University of Wisconsin.</p>

            <p>
                 In my spare time, I enjoy traveling, trying new foods, and spending time with my family.
            <p>

            <h2 class="text-3xl">Connect</h2>
            <p>
            I am available via <a href="mailto:hello@abromo.com" title="Email" style="text-decoration: none;">email</a> or <a href="https://www.linkedin.com/in/abromowitz" title="LinkedIn" style="text-decoration: none;">LinkedIn</a>.
            </p>
        </div>

    </article>

</main>
