---
layout: default
meta_title: Home
meta_description: Scott Abromowitz - UX
body_class: home
title: Scott Abromowitz
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        {# <h1 class="page-title">{{ title }}</h1> #}

        <div class="content">

            <p>Hello, I'm Scott and I work at American Airlines as a Senior Product Designer and previously as a Senior User Researcher.</p>

            <h2 class="text-3xl">Selected work</h2>

            <ul class="mb-8 list-disc pl-4">                
                {% set select_work = collections.work %}
                {# Select number of works to show #}
                {% for post in select_work.slice(0,3) %} 
                     <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
                 {% endfor %}
            </ul>
            <a href="/work" alt="View more of my work">View more of my work</a>
        </div>

        <h2 class="text-3xl mt-12">Tasks</h2>
            <ul class="mb-8 list-disc pl-4">
                <li>Build out <strong>H1 to H6 headings</strong></li>
            </ul>

    </section>

</main>


