---
layout: default
meta_title: Work
meta_description: Work
body_class: work
title: Work

---


<main id="main" class="main inner-wide flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">
        <header>
            <h1 class="page-title">Work</h1>
        </header>
        <div class="content">
           <p>Top will be portfolio work. Followed by UX process and introduction about this being some examples of my work / selected work.</p>
            
            <p>Research: One of my favorite parts of user experience is the ability to do research. The amount of time spent on research will of course depend on a client’s needs or the scope of a project. In some situations I might perform a competitive analysis where I review a competitor’s product to find positive and negative attributes. In other situation I might do a simple heuristic evaluation that involves finding usability issues in the design so that the issues can be resolved as part of an iterative user-centered design process. Researching best practices is also important to stay up to date with current design trends.</p>
            <p>Personas: To better relate to users and develop appropriate use case scenarios, I use personas. Personas are representations based off particular user or demographic groups.</p>
            <p>Interviews: Additionally, it is important to seek out advice and opinions from those who know a solution best: the users. Users might be interviewed to understand what they want, like, or dislike about a solution. Subject Matter Experts (SMEs) are also an invaluable resource to provide insight when designing solutions based off business requirements.</p>
            <p>Deliverables: In addition to research, key components to UX are the actual deliverables such as sketches, wireframes, and quantitative and qualitative analysis of an user experience.</p>
            <p>Sketch: A quick and easy method – simply paper and a pencil or pen.</p>
            <p>Wireframes and Interactive Prototypes: Think of wireframes as the blueprints to the placement of buttons, pictures, text, and various other objects. Wireframing does not equal graphic design! Wireframes can be as basic as a paper sketch to as advanced as a working prototype. I try to avoid color and other graphics to keep the focus on the layout.</p>
            <p>User and Usability Testing: Depending on a variety of factors such as time, budget, and scope, usability testing can be a great resource. Usability tests generally involve real users who are typically paid to test your design in which participants are recorded and asked to perform specific tasks. Valuable insight is gained in such sessions that one might typically be unaware. Evaluators must be careful to not guide a user in completing a task in order to prevent the evaluator from influencing the test.</p>
            <p>Iterate: UX is best when designed in a collaborative team environment where I can seek feedback from others. Iteration is also based off usability testing and design review.</p>
            <p>Development: While not typically required, as a UX designer I might have to use HTML, CSS, and JavaScript to build a prototype of my design; however, improvements in prototyping tools have made this mostly unnecessary. To ease development, functional specification documents are helpful to define user interaction and system requirements. You might also redline proper measurements; this is especially important for responsive design to ensure consistency.</p>
            <p>Conclusion: For success and to reduce cost, it is important to begin the UX process early. The above is just a brief overview of my user experience design process and does not include every tool or method that I might use. My methodology might also vary from situation to situation.</p>
                       
            <h2 class="text-3xl">Methodology</h2>
                <p> Usability testing, Biometrics (eye tracking), Survey design and analysis, Interviews, Design thinking, Contextual inquiry, Personas, Participatory design, Card sorting, Heuristic evaluation, Competitive analysis</p>
               
            <h2 class="text-3xl">Software</h2>
             <p> SMI BeGaze, SMI Experiment Center, UserTesting, Microsoft Excel, Qualtrics, IBM Tealeaf, Axure RP, Sketch, Figma, InVision </p>
        
         <h2 class="text-3xl"><a id="work"></a>Work</h2>
           <ul class="mb-12 list-disc pl-4">
             <li>Porfolio work will go here</li>
             <li>The format of this section must be designed</li>
             <li>This section will be generated by Eleventy based off the tag/category</li>
             <li>I will need to design a work page template</li>
            </ul>

        </div>

    </article>

</main>
